/target/antrun/
/target/classes/
/target/generated-*/
/target/maven-*/
/target/struts2*/
/target/test-classes/
.plxarc
/.apt_generated/
.settings/
.vscode/
.factorypath
.project
.sonatype
.classpath
.DS_Store